<p>
  Budding chat application where people can login with their github or twitter accounts.
</p>
<form action="/login/github" method="get">
  <button type="submit">
    GitHub
  </button>
</form>
<form action="/login/twitter" method="get">
  <button type="submit">
    Twitter
  </button>
</form>


