<!doctype html>
<html>
  <head>
    <title>Chatty McChat Chat</title>
    <style>
      body{
        display: grid;
        grid-template-columns: 1fr;        
        margin: 0;
        padding: 0;
        font-size: 17px;
      }
      body header {
      }
      body header nav {
      }
      body main {
        display: grid;
        grid-templalte-columns: 1fr 1fr 1fr;
      }
      div[itemtype="http://schema.org/Person"] {
      }
    </style>
  </head>
  <body>
    <header>
      <h1>
        Chatty McChat Chat
      </h1>
      <nav>
        <form action="/logout" method="get">
          <button type="submit">
            Signout
          </button>
        </form>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
    </footer>
  </body>
  <script src="/socketIo/socket.io.js"></script>
  <script type="module">
    import App from "/js/App.mjs"
    const user = {{{userJson}}}
    window.addEventListener("load", e => {
      window.app = App.init(window, io, user)
      App.send("Hello")
    }, true)
  </script>
</html>