<!doctype html>
<html>
  <head>
    <title>Chatty McChat Chat</title>
  </head>
  <body>
    <header>
      <h1>
        Chatty McChat Chat
      </h1>
      <h2>
        NOTICE: If you're viewing this in Glitch's iFrame, it clicking on Github or Twitter to login won't work. Gotta open this up in it's own window.
      </h2>
    </header>
    
    <main>
      {{{body}}}
    </main>
    
    <footer>
    </footer>
  </body>
</html>