<header>
  <h1>
    {{model.name}}
  </h1>
</header>
<section>
  <form id="messageTextBox">
    <input type="text" name="message" />
    <button type="submit">
      Send
    </button>
  </form>
</section>
<section id="messages">
  <div itemscope itemtype="http://schema.org/Person">
    <span itemprop="name">Jane Doe</span>
    <img style="width: 50px;" itemprop="image" alt="Photo of Jane Doe" />
    <ol>
      <li>List of messages</li>
    </ol>
  </div>
</section>
<footer>
  <label>This is the footer yo.</label>
</footer>